{
	email {$EMAIL}
}

{$DOMAIN} {
	encode gzip

	# batasi ukuran request (anti upload besar)
	request_body {
		max_size 2MB
	}

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "same-origin"
		-Server
	}

	reverse_proxy app:8090 {
		header_up X-Forwarded-Proto {scheme}
		header_up X-Forwarded-For {remote_host}
	}

	log {
		output file /data/akses.log
		format json
	}
}
